body {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#main-container {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 25% 75%;
    padding: 25px;
}

#img-container {
    display: flex;
    justify-content: center;
    border: blue dotted 2px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 30px;
}

#img-container img {
    width: 50%;
    max-height: 100%;
}

#title-container {
    border: blueviolet dotted 2px;
    color: white;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: chartreuse dotted 2px;
    color: white;
}
#form-description {
    width: 75%;
}
#book-form {
    width: 75%;
}

label, input, select, option, button {
    width: 90%;
    margin: 10px;
    font-size: 20px;
}

#table-container {
    border: coral dotted 2px;
    color: white;
}

table {
    border: orange solid 5px;
    width: 100%;
}

tr {
    text-align: center;
}