body {
    background-color: rgb(95, 27, 84);
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #fff7f0;
}

#main-container {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 25% 75%;
    padding: 25px;
}

#img-container {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 30px;
}

#img-container img {
    width: 50%;
    max-height: 100%;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#form-description {
    width: 75%;
}
#book-form {
    width: 75%;
}

label, input, select, option, button {
    width: 90%;
    margin: 10px;
    font-size: 20px;
}

#table-container {
    border: coral dotted 2px;
}

table {
    border: orange solid 5px;
    width: 100%;
}

tr {
    text-align: center;
}

th {
    font-size: 25px;
}

td {
    font-size: 18px;
}

.table-rating {
    width: 60px;
    height: 25px;
    font-size: 18px;
}

.removal-button {
    background-image: url(/pics/bin.png);
    background-size: contain;
    background-color: white;
    width: 25px;
    height: 25px;
}